<!-- Describe task in general -->

<p style="text-align: justify;">
    Załóżmy, że po stawie w kółko pływają <code>ducks</code>. Staw jest również domem dla aligatora, który lubi kaczki. Zaczynając od określonej pozycji (kaczka numer 1), aligator liczy zgodnie z ruchem wskazówek zegara wokół koła i zjada każdą <code>step</code>-tą kaczkę (koło zamyka się w miarę zjadania kaczek).
</p>

<p style="text-align: justify;">
    Na przykład, gdy <code>ducks = 8</code> i <code>step = 4</code>, poniższy diagram pokazuje numer kaczki na zewnątrz i kolejność konsumpcji wewnątrz:
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}gator-and-ducks.svg" alt="example" style="max-height: 200px"/>
</p>

<p style="text-align: justify;">
    Pierwsza kaczka jest piąta w menu, druga jest czwarta itd. Kolejność <code>5, 4, 6, 1, 3, 8, 7, 2</code> kolejności konsumpcji całkowicie opisuje menu aligatora.
</p>

<p style="text-align: justify;">
    Proszę napisać skrypt, który zwróci kolejność spożycia kaczek podaną na stronie <code>ducks, step</code>.
</p>
<!-- Explain input and output values -->
<p>
   <strong>Dane wejściowe:</strong> Dwie liczby całkowite <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Wyjście:</strong> {% if is_js %}Tablica{% else %}Lista{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> liczb całkowitych. 
</p>


<p>
    <strong>Przykłady:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Warunek wstępny:</strong>
    <ul>
    <li><i>ducks, step &gt; 0</i></li>
    </ul>
</p>
<p><i>Misja została pobrana z <a target="_blank" href="https://icpc.global/worldfinals/problems/1974-ICPC-World-Finals/1974-Texas.pdf">The International Collegiate Programming Contest - 1974</a>.</i></p>
